---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
    <ul>

        <li> <a href="https://github.com/chrishyland/uni-notes"> University Notes </a></li>

        <li><a href="http://anovaprojectusyd.org.s3-website-ap-southeast-2.amazonaws.com/"> ANOVA Project Website </a></li>

        <li><a href="https://tech-analysis-plots.herokuapp.com/Tech-analysis-plots"> Crytpocurrency Financial dashboard </a></li>

        <li> <a href="https://github.com/chrishyland/ANOVACoin"> ERC20 Token </a></li>
    </ul>
</section>
